.filmes {
    padding: 20px;
    margin: auto;
    background-color: rgb(35, 35, 35);
    display: flexbox;
}

.movie-grid {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-card {
    cursor: pointer;
    margin: 10px;
    transition: transform 0.2s;
    flex-basis: calc(25% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 240px;
    position: relative;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 140px;
    height: 190px;
}

.movie-card h2 {
    font-size: 14px;
    color: white;
    margin-top: 5px;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}

.movie-voting {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.movie-card:hover .movie-voting{
    opacity: 1;
}

.poster {
    height: 25px;
}

.filmes h1 {
    font-size: 40px;
}