.FilmeSelecionado {
    margin: 0;
}

.selected-movie-display {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.poster {
    margin: 50px;
}

.movie-details {
    width: 350px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin: 50px;
}

.movie-details h2 { 
    font-size: 30px;
    text-align: left;
}

.links {
    display: flexbox;
    flex-direction: column;
}

.link-personagens a{
    color: black;
}

.link-personagens {
    margin-bottom: 25px;
}

.link-trailers a {
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}

.link-trailers img {
    height: 25px;
}

.link-trailers {
    margin-right: 100px;
    width: 170px;
    transition: transform 0.1s;
}

.link-trailers:hover {
    transform: scale(1.05);
}